div.ad
    .swiper-container
        // Additional required wrapper
        .swiper-wrapper
            // Slides
            .swiper-slide(style='background-image:url("/images/test1.PNG");')
            .swiper-slide(style='background-image:url("/images/test2.PNG");')
            .swiper-slide(style='background-image:url("/images/test3.PNG");')
            |         ...
        // If we need pagination
        .swiper-pagination